<h1> Autocomplete Directive Test - Local Source </h1>

<h3>With Array of Strings</h3>
<pre>source: {{json(arrayOfStrings)}}</pre>
<div ng2-auto-complete
     [min-chars]="1"
     [source]="arrayOfStrings"
     [accept-user-input]="false"
     (ngModelChange)="myCallback($event)"
     placeholder="enter text">
  <input id="model1" [ngModel]="model1" />
</div>
<br/>selected model1: {{json(model1)}}<br/><br/>

<h3>With Array of id/value</h3>
<pre>source: {{json(arrayOfKeyValues)}}</pre>
<input
  id="model2"
  ng2-auto-complete
  blank-option-text="Select One"
  [(ngModel)]="model2"
  [source]="arrayOfKeyValues"
  placeholder="enter text"/>
<a href="#" (click)="model2={id:'change', value: 'it'}">Change It</a>
<br/>selected model2: {{model2 | json}}<br/><br/>

<h3>With Array of Key/Name</h3>
<pre>source: {{json(arrayOfKeyValues2)}}</pre>
<input ng2-auto-complete [source]="arrayOfKeyValues2"
       id="model3"
       [(ngModel)]="model3"
       placeholder="enter text"
       value-property-name="key"
       display-property-name="name"/>
<br/>selected model3: {{model3 | json}}<br/><br/>

<h3>With Remote Source as HTTP URI String</h3>
<pre> source: {{googleGeoCode}}</pre>
<input  ng2-auto-complete
        id="model4"
        [(ngModel)]="model4"
        placeholder="Enter Address(min. 2 chars)"
        [source]="googleGeoCode"
        no-match-found-text="No Match Found"
        display-property-name="formatted_address"
        path-to-data="results"
        loading-text="Google Is Thinking..."
        max-num-list="5"
        min-chars="2" />
<br/>selected model4: {{model4 | json}}<br/><br/>

<h3>With Remote Source as Observable "Marvel API" </h3>
<input  ng2-auto-complete
        id="model5"
        placeholder="Start typing a hero name (min. 2 chars) ... for example: Hulk"
        [(ngModel)]="model5"
        [source]="appSvc.findHeroes"
        [list-formatter]="renderHero"
        path-to-data="data.results"
        min-chars="2"
/>
<br/>selected model5: {{model5 | json}}<br/><br/>

<h3>With Material Design</h3>
<md-input ng2-auto-complete
          id="model6"
          [(ngModel)]="myModel"
          [source]="arrayOfNumbers"
          [list-formatter]="rightAligned"
          placeholder="amount" align="end">
  <span md-prefix>$&nbsp;</span>
  <span md-suffix>.00</span>
</md-input>
